.name {
    font-weight: 700;
    font-size: 60px;
    color: #a68a64;
}

.landing {
    flex-direction: column;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
}

.landing p {
    margin: 0;
}

.landing .headings {
    font-weight: 500;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

.landing .headings span {
    position: relative;
    animation: text-rotation 7s ease infinite;
}

@keyframes text-rotation { 
    0%,
    20% { top: 0; }
    25% { top: -50px; }

    45% { top: -50px; }
    50% { top: -100px; }

    70% { top: -100px; }
    75% { top: -150px; }

    95% { top: -150px; }
    100% { top: 0; }
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 45px 10px 10px 10px;
}

.button {
    font-size: 20px;
    padding: 10px 25px;
    margin: 10px;

    background-color: rgba(0,0,0,0);
    border: 2px solid var(--border-colour);
    color: var(--text-colour);
    border-radius: 15px;
    box-shadow: 1px 2px 2px var(--border-colour);

    cursor: pointer;
    transition: 0.4s ease;
}

.button:hover {
    background-color: var(--border-colour);
    color: var(--background-colour);
    transform: translateY(-5px);
}

/* smaller screen / tablet */

@media only screen and (max-width: 900px) {

    .landing {

        .buttons {
            margin: 20px 0 0 0;
        }
    }

    .name {
        font-size: 50px;
        font-weight: 600;
    }

}

@media only screen and (725px <= width <= 900px) {

    .landing-page {
        line-height: 48px;
    }

}

@media only screen and (max-width: 725px) {
    
    .landing {
        font-size: 30px;
        line-height: 40px;

        .buttons {
            width: 75vw;
            flex-wrap: wrap;
        }
    }

    .name {
        font-size: 40px;
    }
}
