:root {
  --background-colour: #333d29;
  --text-colour: #FAF9F6; 
  --border-colour: #a68a64;
}

* {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

div { 
  scroll-behavior: smooth;
}

.page-container {
  position: relative;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory;
  height: 100vh;
  width: 100%;

}

.nav {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: fit-content;

  top: 5vh;
  left: 5vw;

  transition: 0.15s;
}

.nav-button {
  height: 14px;
  width: 14px;
  margin: 8px 5px;

  border-radius: 25px;
  background-color: rgba(0,0,0,0);
  border: 1px solid var(--border-colour);
  
  cursor: pointer;
  transition: 0.3s;
}

.nav-button:hover, .nav-button.nav-active {
  background-color: var(--border-colour);
}

@keyframes hover-bounce {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
}

@-webkit-keyframes hover-bounce {
  0%, 100% { -webkit-transform: translateY(0px); }
  50% { -webkit-transform: translateY(-5px); }
}

@-moz-keyframes hover-bounce {
  0%, 100% { -moz-transform: translateY(0px); }
  50% { -moz-transform: translateY(-5px); }
}

/* mobile */

@media only screen and (min-width: 900px) {

  .nav-button {
    height: 10px;
    width: 10px;
  }

}

@media only screen and (725px <= width <= 900px) {

  .nav {
    display: none;
  }
}

@media only screen and (max-width: 725px) {
    .nav {
      display: none;
    }
}